@import "tailwindcss";

@theme {
  --color-primary-50: #e9f1f8;
  --color-primary-100: #cfdfee;
  --color-primary-200: #a9c3e0;
  --color-primary-300: #7ea5cf;
  --color-primary-400: #5588bd;
  --color-primary-500: #3b6fa3;
  --color-primary-600: #2a587f;
  --color-primary-700: #213a63;
  --color-primary-800: #142c50;
  --color-primary-900: #0d1c38;
  --color-primary-950: #0a162e;
  --color-accent-50: #fff3ef;
  --color-accent-100: #ffd9cc;
  --color-accent-200: #ffb39a;
  --color-accent-300: #ff8a63;
  --color-accent-400: #e25f3a;
  --color-accent-500: #B3370E;
  --color-accent-600: #8e2a0a;
  --color-accent-700: #6e2008;
  --color-accent-800: #511706;
  --color-accent-900: #351004;
  --color-accent-950: #220a02;
}

body {
  background: linear-gradient(
    to bottom,
    var(--color-primary-700) 0%,
    var(--color-primary-700) 20%,
    var(--color-primary-800) 60%,
    var(--color-primary-900) 100%
  );
}
