@import "tailwindcss";

@theme {
  --color-navy-50: #f0f4f8;
  --color-navy-100: #d9e2ec;
  --color-navy-200: #bcccdc;
  --color-navy-300: #9fb3c8;
  --color-navy-400: #829ab1;
  --color-navy-500: #627d98;
  --color-navy-600: #486581;
  --color-navy-700: #334e68;
  --color-navy-800: #243b53;
  --color-navy-900: #102a43;
  --color-navy-950: #0a1929;
  --color-orange-50: #fff4ed;
  --color-orange-100: #ffe6d5;
  --color-orange-200: #feccaa;
  --color-orange-300: #fdac74;
  --color-orange-400: #fb923c;
  --color-orange-500: #f97316;
  --color-orange-600: #ea580c;
  --color-orange-700: #c2410c;
  --color-orange-800: #9a3412;
  --color-orange-900: #7c2d12;
  --color-orange-950: #431407;
}
